@import 'https://fonts.googleapis.com/css?family=Quicksand';
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: 'Quicksand', sans-serif;
  transition: all 20s ease;
  background-image: url("../images/IN-en-20160822-pophoursaltreverse-perspective_alpha_website_large.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

html:hover, body:hover {
  background-position: right top;
}

html .gradient, body .gradient {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 17%, black 100%);
  height: 100%;
}

html .gradient header, body .gradient header {
  display: block;
  margin: 14vh auto 0px auto;
  text-align: center;
  opacity: 1;
  transition: all .3s ease;
}

html .gradient header h1, body .gradient header h1 {
  display: inline-block;
  font-size: 7vw;
  padding: .1em .5em;
  border: 3px solid #7FDBFF;
  color: #7FDBFF;
}

html .gradient #search-bar, body .gradient #search-bar {
  display: block;
  position: fixed;
  top: 50vh;
  left: 20vw;
  margin: auto;
  padding-left: 2em;
  width: 60vw;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 0;
  font-family: 'Quicksand', sans-serif;
  height: 50px;
  box-shadow: 0px 12px 17px -9px #001f3f;
  webkit-appearance: none;
  transition: all .3s ease-in-out;
}

html .gradient #card, body .gradient #card {
  display: none;
  flex-direction: row;
  position: fixed;
  margin: 0 auto;
  width: 50vw;
  background-color: white;
  top: 25vh;
  left: 25vw;
  box-shadow: 0px 12px 17px -9px #001f3f;
  color: black;
}

html .gradient #card #poster, body .gradient #card #poster {
  width: auto;
  height: 40vh;
}

html .gradient #card #content, body .gradient #card #content {
  padding: 1.4em 2em;
  width: 100%;
}

html .gradient #card #content h2, body .gradient #card #content h2 {
  margin: 1px;
}

html .gradient #card #content .m-data, body .gradient #card #content .m-data {
  color: #a1a1a1;
}

html .gradient #card #content #download-links, body .gradient #card #content #download-links {
  margin-top: 1em;
}

html .gradient #card #content #icons, body .gradient #card #content #icons {
  display: flex;
  margin: 10px 0px;
}

html .gradient #card #content #icons div, body .gradient #card #content #icons div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

html .gradient #card #content #icons div .fa, body .gradient #card #content #icons div .fa {
  font-size: 30px !important;
  margin-right: 10px;
  color: #b31217;
}

html .gradient #card #content #icons div img, body .gradient #card #content #icons div img {
  height: 30px;
  margin-right: 15px;
}

html .gradient #card #content #download-links h4, body .gradient #card #content #download-links h4 {
  margin: 0px;
}

html .gradient #card #content #download-links #quality-wrap, body .gradient #card #content #download-links #quality-wrap {
  display: flex;
  justify-content: space-around;
  margin: 5px 0px;
}

html .gradient #card #content #download-links #quality-wrap a, body .gradient #card #content #download-links #quality-wrap a {
  text-decoration: none;
}
